
.genre-button-group{
    display: flex !important;
    justify-content: center !important;
    column-gap: 10px !important;
    flex-wrap: wrap !important;
    max-width: 480px;
}

.genre-button{
    text-transform: capitalize !important;
    font-size: 13px !important;
    border: none !important;
    border-radius: 16px !important;
    margin: 4px 0px !important;

}
.MuiToggleButton-root.Mui-selected{
    background-color:#ffff !important;
    color: #586069 !important;


}
/* .MuiToggleButton-sizeSmall{
    text-transform: capitalize;
    font-size: 14px;
    border-radius: 16px;
    border: none;
} */